@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  color: #343A40;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}

.menuOpen {
  transform: translateY(70px) !important;
}

.content-wrapper {
  width: min(85%, 1300px);
  margin: 0 auto;
}

.navigation {
  position: relative;
}

.navigation strong {
  padding-right: 5px;
}

.navigation a {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}

.navigation .burger__menu {
  background-color: #5eca9f;
  border: 1px solid #343A40;
  color: #343A40;
  font-size: 25px;
  padding: 9px 25px;
  display: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.navigation .brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .brand__title {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  width: 230px;
  display: flex;
  justify-content: center;
}

.navigation__menu {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  transition: all 0.8s;
  min-height: 70px;
}

.navigation .menu {
  width: calc(95% - 0px);
  justify-content: center;
}

.navigation .menu .active a {
  color: #343A40;
}

.navigation .menu>li:not(:last-child) {
  background-color: #F1CF69;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(10vw, 170px);
}

.navigation .menu>li:last-child {
  margin-left: auto;
}

.navigation .menu>li:last-child a {
  width: 150px;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5eca9f;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navigation .menu>li:last-child a:hover {
  background-color: #F1CF69;
  color: #343A40;
  transition: all 0.5s ease;
}

.navigation .menu a {
  color: #fff;
  display: block;
  transition: all 0.5s ease;
}

.navigation .menu a:hover {
  color: #343A40;
  transition: all 0.5s ease;
}

.navigation .menu .menu-item-has-children {
  position: relative;
  display: block;
  transition: all 0.5s;
}

.navigation .menu .menu-item-has-children a {
  position: relative;
}

.navigation .menu .menu-item-has-children>a::after {
  content: "";
  position: absolute;
  background-image: url(../img/angle-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: -25px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 10px;
  height: 10px;
}

.navigation .menu .menu-item-has-children:hover>.sub-menu {
  display: block;
}

.navigation .menu .menu-item-has-children:hover>a {
  color: #424040;
}

.navigation .menu .sub-menu {
  position: absolute;
  bottom: 0;
  display: none;
  transform: translateY(95%);
  background-color: #F1CF69;
  width: 100%;
  z-index: 5;
}

.navigation .menu .sub-menu a {
  display: block;
  padding: 10px;
  color: #c2c2c2;
}

.navigation .menu .sub-menu a:hover {
  transition: all 0.5s ease;
  background-color: #343A40;
  color: #fff !important;
}

.navigation .menu .sub-menu a {
  color: #fff;
}

.header-slider {
  position: relative;
  display: flex;
  margin: 0 auto;
  transition: all 0.5s ease;
}

.header-slider__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
}

.header-slider .item__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-slider .item__content {
  width: 520px;
  margin: auto 0 auto auto;
  padding-top: 100px;
  color: #fff;
}

.header-slider .item__content {
  z-index: 1;
}

.header-slider .item__title {
  font-size: 2.5em;
  font-weight: 200;
  letter-spacing: 7px;
  padding-bottom: 20px;
}

.header-slider .item__brand {
  margin-left: 130px;
  font-size: 3em;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-weight: 700;
}

.header-slider .item__brand span {
  padding-bottom: 20px;
  border-bottom: 2px solid #999;
  display: inline-block;
  width: 300px;
}

.header-slider .item__description {
  padding-left: 60px;
  font-size: 2.9em;
  letter-spacing: 3px;
  font-weight: 400;
  padding-bottom: 50px;
  display: inline-block;
  position: relative;
}

.header-slider .item__description::after {
  content: "";
  position: absolute;
  bottom: 50px;
  right: -10px;
  width: 60px;
  height: 20px;
  background-color: #F1CF69;
  z-index: -1;
}

.header-slider .item__share {
  padding-left: 30px;
  display: flex;
}

.header-slider .item__share span {
  padding: 0 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.header-slider .item__share-list {
  display: flex;
}

.header-slider .item__share-list li {
  padding: 0 10px;
}

.header-slider .slick-list {
  overflow: hidden;
}

.header-slider .slick-track {
  display: flex;
  align-items: center;
}

.header-slider .arrows {
  display: flex;
  justify-content: center;
  z-index: 5;
}

.header-slider .slick-arrow {
  position: absolute;
  width: 150px;
  height: 100%;
  transform: translateY(-50%);
  z-index: 1;
  background: none;
  border: none;
  outline: none;
  font-size: 0;
}

.header-slider .slick-arrow::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  background-position: center center;
  background-size: 40px 32px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.header-slider .slick-arrow.slick-prev::after {
  background-image: url(../img/arrow-left-solid.svg);
}

.header-slider .slick-arrow.slick-next::after {
  background-image: url(../img/arrow-right-solid.svg);
}

.header-slider .slick-prev {
  left: 0;
  top: 50%;
}

.header-slider .slick-prev::after {
  left: 15px;
  top: 50%;
}

.header-slider .slick-next {
  right: 0;
  top: 50%;
}

.header-slider .slick-next::after {
  right: 15px;
  top: 50%;
}

.header-slider .slick-dots {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 60px;
}

.header-slider .slick-dots li {
  list-style: none;
  margin: 0 15px;
  width: 10px;
  height: 10px;
}

.header-slider .slick-dots li.slick-active button::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/envira-brands-green.svg);
  background-size: 20px;
  position: absolute;
  top: 0;
}

.header-slider .slick-dots li button {
  font-size: 0;
  border: none;
  position: relative;
  outline: none;
  background: none;
}

.header-slider .slick-dots li button::after {
  content: "";
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url(../img/envira-brands.svg);
  position: absolute;
  background-repeat: no-repeat;
}

.header-intro-img {
  height: 300px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-box {
  width: 80vw;
  margin: 0 auto;
  padding: 80px 0;
}

.info-box .article {
  padding: 50px 0 40px 0px;
}

.info-box__title {
  color: #5eca9f;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}

.info-box__subtitle {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  letter-spacing: 4px;
}

.info-box__content {
  color: #999;
  letter-spacing: 1px;
  line-height: 1.9;
  font-weight: 500;
}

.info-box .about__side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-left: 40px;
  height: 430px;
}

.info-box .about__side::before {
  content: "";
  position: absolute;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  top: 0;
  bottom: 0;
  left: 20%;
  right: -30%;
  z-index: -1;
}

.info-box__intro-img {
  border: 12px solid #fff;
  box-shadow: 0px 0px 22px 1px #7f7f7f;
}

.multi-item {
  position: relative;
  padding: 80px 0 50px;
}

.multi-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 24%;
  right: 0;
  left: 0;
  background: url(../img/green-wheat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.multi-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 24%;
  left: 0;
  right: 0;
  background-color: rgba(32, 32, 32, 0.45);
  z-index: -1;
}

.multi-item__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.multi-item__title {
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 4px;
}

.multi-item__content {
  max-width: 700px;
  text-align: center;
  padding-bottom: 40px;
  letter-spacing: 1px;
  color: #eee;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  line-height: 1.9;
  font-weight: 500;
}

.multi-item__img {
  margin: 0 auto;
  width: 60%;
}

.news {
  width: 100vw;
  padding: 0 20px 100px 5vw;
}

.slider {
  position: relative;
}

.slider .slick-list {
  overflow: hidden;
}

.slider .slick-track {
  display: flex;
}

.slider .slick-arrow {
  position: absolute;
  top: 55%;
  z-index: 10;
  font-size: 0;
  transform: translateY(15vw);
  border: none;
  outline: none;
}

.slider .slick-arrow.slick-prev {
  left: 40%;
  display: block;
  background: none;
  background-image: url(../img/arrow-left.png);
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 30px;
}

.slider .slick-arrow.slick-next {
  right: 40%;
  display: block;
  background: none;
  background-image: url(../img/arrow-right.png);
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 30px;
}

.slider .slick-dots {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -7vw;
  left: 50%;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots li.slick-active button {
  background-color: #3b3b3b;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #c2c2c2;
  border-radius: 50%;
  border: none;
}

.slider__title-item {
  padding: 15px 0px;
  font-size: 20px;
  font-weight: 500;
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.blog {
  position: relative;
  padding-top: 120px;
  overflow: hidden;
}

.blog__before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5eca9f;
  height: 290%;
  width: 280%;
  transform: rotate(110deg) translate(4px, 139%);
  z-index: -1;
}

.blog__after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: translate(88%, -15%) rotate(56deg);
  background-color: #F1CF69;
  z-index: -1;
}

.blog__title-box {
  position: absolute;
  top: 5%;
  left: 17%;
}

.blog__title-text {
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.blog__title-subtitle {
  letter-spacing: 1px;
  font-size: 34px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.blog__share {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 5;
  width: 70px;
}

.blog__share ul {
  background-color: #000;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog__share ul li {
  padding: 30px 0;
}

.blog .share-title {
  color: #fff;
  display: block;
  padding: 5px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 18px;
}

.blog .share-list__item {
  padding: 20px;
}

.blog .share-list__link {
  color: rgba(255, 255, 255, 0.596);
}

.blog .share-list__link:hover {
  color: #fff;
  transition: all 0.5s ease;
}

.blog .slider-blog {
  display: flex;
  margin: 0 auto;
}

.blog .slider-blog__item {
  display: flex;
  flex-direction: row;
  padding: 40px;
  margin: 0 auto;
  justify-content: center;
}

.blog .page__content {
  text-align: center;
  background-color: #fff;
  box-shadow: 4px 4px 20px 0px #686868;
  margin-left: -40px;
  padding: 9px 10% 0;
  display: flex;
  flex-direction: column;
  width: min(43vw, 400px);
}

.blog .page__title {
  color: #999;
  padding: 30px;
}

.blog .page__text {
  font-size: 23px;
  flex: 1 0 auto;
  padding-bottom: 30px;
  font-family: serif;
}

.blog .page__link {
  padding-bottom: 40px;
  color: #5eca9f;
}

.blog .page__img {
  width: min(37vw, 350px);
  padding-top: 40px;
}

.slider-blog {
  position: relative;
}

.slider-blog .slick-list {
  overflow: hidden;
}

.slider-blog .slick-track {
  display: flex;
  align-items: center;
}

.slider-blog .arrows {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.slider-blog .slick-arrow {
  top: 64%;
  z-index: 10;
  font-size: 0;
}

.slider-blog .slick-dots {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -11vw;
  left: 50%;
}

.slider-blog .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider-blog .slick-dots li.slick-active button {
  background-color: #3b3b3b;
}

.slider-blog .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #c2c2c2;
  border-radius: 50%;
  border: none;
}

.slider-blog__title-item {
  padding: 15px 0px;
  font-size: 17px;
  font-weight: 500;
}

.arrows {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: flex-end;
  align-content: flex-end;
  margin-right: 37vw;
  margin-top: -113px;
}

.arrows .prevS {
  background: none;
  border: 2px #fcd9a4 solid;
  height: 65px;
  padding: 14px 0;
  width: 50px;
  background-color: #F1CF69;
  border-top-right-radius: 40px;
  display: inline-block;
  margin-right: 10px;
  outline: none;
  font-size: 31px;
  color: #fff;
}

.arrows .nextS {
  background: none;
  border: 2px #fcd9a4 solid;
  height: 65px;
  padding: 14px 0;
  width: 50px;
  font-size: 31px;
  color: #fff;
  background-color: #F1CF69;
  border-top-left-radius: 40px;
  display: inline-block;
  margin-left: 10px;
  outline: none;
}

.test {
  padding-top: 80px;
}

.test__subtitle {
  text-align: center;
  color: #5eca9f;
  text-transform: uppercase;
  font-size: 16px;
}

.test__title {
  text-align: center;
  margin-bottom: 40px;
}

.test__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

.test__img {
  height: 100%;
}

.test__img .grid__avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.test__img:first-child {
  grid-column: 1/3;
}

.test__content {
  background-color: #E9ECEF;
}

.test__content.header.grid-item {
  grid-column: 3/5;
  background-color: #5eca9f;
  color: #fff;
}

.test__content.header.grid-item .grid-item__title {
  color: #fff;
  padding-top: 30px;
}

.test__content.header.grid-item .grid-item__text {
  color: #fff;
}

.test__content.header.grid-item::before {
  border-right: 15px solid #5eca9f;
}

.grid-item {
  text-align: center;
  position: relative;
  transition: 0.5s all;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-item:hover {
  background-color: #5eca9f;
}

.grid-item:hover .grid-item__title {
  color: #fff;
}

.grid-item:hover .grid-item__text {
  color: #fff;
}

.grid-item::before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #E9ECEF;
  top: 45%;
  left: -15px;
  position: absolute;
  transition: 0.5s all;
}

.grid-item:hover::before {
  border-right: 15px solid #5eca9f;
}

.grid-item__title {
  padding: 25px 0 15px;
  color: #5eca9f;
}

.grid-item__text {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 20px;
  color: #999;
  font-family: emoji;
}

.grid-item__text::before {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  width: 50%;
  background-color: #343A40;
}

.grid-item__list-share {
  display: flex;
  justify-content: center;
}

.grid-item__link-share {
  padding: 10px 10px 20px;
}

.grid-item .share-list__link {
  color: #343A40;
}

.grid-item .share-list__link:hover {
  color: #fff;
}

.test__img:hover+.grid-item {
  background-color: #5eca9f;
}

.test__img:hover+.grid-item .grid-item__title {
  color: #fff;
}

.test__img:hover+.grid-item .grid-item__text {
  color: #fff;
}

.test__img:hover+.grid-item::before {
  border-right: 15px solid #5eca9f;
}

.works {
  padding: 70px 5% 50px;
}

.works__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  color: #5eca9f;
}

.works__title {
  text-align: center;
  font-family: serif;
  font-weight: 600;
  padding-bottom: 40px;
}

.works .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.works .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  box-shadow: 1px 3px 12px 1px rgba(0, 0, 0, 0.1);
}

.works .item:nth-child(1) {
  border-bottom: 4px solid #eb5273;
}

.works .item:nth-child(2) {
  border-bottom: 4px solid #35eaea;
}

.works .item:nth-child(3) {
  border-bottom: 4px solid #fc7e46;
}

.works .item:nth-child(4) {
  border-bottom: 4px solid #2e8aec;
}

.works .item:nth-child(5) {
  border-bottom: 4px solid #fdd868;
}

.works .item__title {
  padding: 20px 0;
}

.works .item__content {
  text-align: center;
  padding: 10px 0 40px;
  color: #999;
  width: 80%;
}

.works .fab {
  font-size: 50px;
  color: #5eca9f;
  padding: 40px 0 20px;
}

.footer .wrapper--title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer__title {
  padding: 0 0 20px 0;
}

.footer .menu {
  display: flex;
  background-color: #F1CF69;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  height: 60px;
}

.footer a {
  color: #000;
}

.footer a:hover {
  color: #fff;
  transition: 0.5s all;
}

.footer .subscribe {
  height: 80px;
  background-color: #F1CF69;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .subscribe__email {
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 40px;
  padding-left: 10px;
  width: min(50vw, 350px);
}

.footer .subscribe__email::placeholder {
  font-size: 14px;
}

.footer .subscribe__confirm {
  border: none;
  background-color: #000;
  color: #fff;
  height: 40px;
  font-size: 15px;
}

.footer .copyright {
  padding-left: 20px;
  background-color: #000;
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.share__title {
  color: #f1f1f1;
  padding: 0 10px;
}

.share__list {
  display: flex;
  justify-content: space-between;
}

.share__item {
  padding: 0 10px;
}

.share .link {
  color: #fff;
}

.breadcrumbs {
  height: 60px;
  background-color: #E9ECEF;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.breadcrumbs a {
  color: #5eca9f;
}

.breadcrumbs__list {
  display: flex;
  list-style: none;
}

.breadcrumbs__list li {
  padding: 0 10px;
}

.breadcrumbs__list a:last-child {
  color: #343A40;
}

.short-about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.short-about__title {
  font-size: 36px;
  margin-bottom: 40px;
}

.short-about__title>span {
  color: #5eca9f;
  font-size: 20px;
  display: block;
  letter-spacing: 2px;
  font-weight: 400;
}

.short-about .intro-banner {
  width: 100%;
  height: 350px;
  color: #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 12px 3px rgba(0, 0, 0, 0.18);
  border: 10px solid #fff;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 60px;
}

.short-about .intro-banner__title {
  padding-right: 20px;
}

.short-about .info {
  display: flex;
  flex-wrap: wrap;
}

.short-about .info div {
  width: 30%;
  padding: 0 20px 30px 20px;
  border-left: 3px solid #5eca9f;
  font-family: "Poppins", sans-serif;
  color: #999;
  line-height: 26px;
  font-size: 15px;
  font-weight: 400;
  margin: 15px;
}

.short-about .info .title {
  font-family: "Playfair Display", serif;
  color: #343A40;
  padding-bottom: 10px;
}

.short-about .info__list .list {
  list-style: none;
}

.short-about .info__list .list li {
  position: relative;
  padding: 0 0 15px 26px;
}

.short-about .info__list .list li::before {
  content: "";
  position: absolute;
  background-image: url(../img/arrow-right-long-solid--orange.svg);
  width: 15px;
  height: 25px;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.team {
  padding: 40px 0;
}

.team__title {
  font-size: 36px;
  margin-bottom: 40px;
}

.team__title>span {
  color: #5eca9f;
  font-size: 20px;
  display: block;
  letter-spacing: 2px;
  font-weight: 400;
}

.team .row {
  gap: 40px 0;
}

.team .human {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.team .human img {
  height: 130px;
}

.team .human__about {
  padding: 0 25px 20px;
}

.team .human__about .title {
  padding-bottom: 15px;
}

.team .human p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #999;
  letter-spacing: 1px;
  line-height: 25px;
}

.portfolio {
  padding: 90px 0 120px;
}

.portfolio__title {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.portfolio__title>span {
  color: #5eca9f;
  font-size: 20px;
  display: block;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 auto;
}

.portfolio .portfolio-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}

.portfolio .portfolio-table__title {
  z-index: 2;
  position: absolute;
  color: #fff;
  top: 15px;
  background-color: rgba(0, 0, 0, 0.568);
  width: 90%;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 0;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
}

.portfolio .portfolio-table__item {
  position: relative;
  height: 280px;
  width: 100%;
  overflow: hidden;
}

.portfolio .portfolio-table__item::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  z-index: 5;
  transform-origin: top center;
  transform: rotate(39deg) translate(0%, -95%);
  transition: all 0.6s;
}

.portfolio .portfolio-table__item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.6s;
}

.portfolio .portfolio-table__item:hover::before {
  transform: rotate(39deg) translate(0%, 74%);
}

.portfolio .portfolio-table__item:hover .overlay-box {
  opacity: 1;
}

.portfolio .portfolio-table__item:hover img {
  transform: scale(1.3);
}

.portfolio .overlay-box {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  background-color: #ffffff2c;
  opacity: 0;
  transition: all 0.6s;
}

.portfolio .overlay-box:hover {
  opacity: 1;
}

.portfolio .overlay-box__title {
  color: #fff;
  padding: 0 10px 0px 10px;
  margin-bottom: 50px;
  margin-right: 20px;
  text-align: end;
  width: 100%;
  border-right: 4px solid #5eca9f;
  font-size: 28px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.88);
}

.single-title {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
  padding-bottom: 20px;
}

.single-title>span {
  color: #5eca9f;
  font-size: 20px;
  display: block;
  letter-spacing: 2px;
  font-weight: 400;
}

.single-page {
  padding-bottom: 60px;
}

.single-page__thumbnail {
  max-height: 500px;
  width: 100%;
  margin: 0 auto;
}

.single-page__avtor {
  text-align: center;
  padding: 15px;
  position: relative;
  width: 160px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.single-page__avtor::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../img/user-regular-green.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.single-page .list-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.single-page .list-info__date {
  font-size: 14px;
}

.single-page .list-info__count-like {
  padding-left: 20px;
  margin-left: 20px;
  position: relative;
  color: #F1CF69;
}

/* .single-page .list-info__count-like::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url(../img/heart-regular-orange.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.single-page .list-info__count-comment {
  margin-left: 20px;
  position: relative;
  color: #F1CF69;
  padding-left: 24px;
}

.single-page .list-info__count-comment::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 16px;
  background-image: url(../img/comments-regular-orange.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-page p {
  font-family: "Poppins", sans-serif;
  color: #999;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 1.8;
  padding-bottom: 20px;
}

.single-page>p:first-of-type::first-line {
  font-size: 20px;
  color: #343A40;
  line-height: 2;
}

.single-page .single-page__marked {
  color: #F1CF69;
  font-style: italic;
  font-weight: bold;
}

.single-page blockquote {
  background-color: #424040;
  color: #fff;
  padding: 20px;
}

.single-page blockquote p {
  color: #fff;
  position: relative;
  text-indent: 45px;
  line-height: 30px;
}

.single-page blockquote p::after,
.single-page blockquote p::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.single-page blockquote p::after {
  background-image: url(../img/quote-right-solid-white.svg);
  margin-left: 10px;
}

.single-page blockquote p::before {
  background-image: url(../img/quote-left-solid-white.svg);
  height: 30px;
  left: 0;
}

.single-page blockquote cite {
  color: #5eca9f;
  letter-spacing: 3px;
  font-weight: bold;
  padding-left: 25px;
  position: relative;
}

.single-page blockquote cite::before {
  content: "—";
  position: absolute;
  left: 0;
}

.single-page ul {
  width: 49%;
  list-style: none;
  padding: 20px 0;
  display: inline-block;
}

.single-page ul li {
  padding-left: 22px;
  position: relative;
  font-size: 14px;
  margin: 15px;
}

.single-page ul li::before {
  content: "";
  background-image: url(../img/check-solid-green.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  width: 15px;
  height: 100%;
}

.comments__title {
  padding-bottom: 30px;
}

.comment-item {
  display: flex;
  padding-bottom: 30px;
  align-items: flex-start;
}

.comment-item img {
  width: 34%;
  border: 4px solid #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 8px -2px #000000;
  height: 127px;
  object-fit: cover;
}

.comment-item__body {
  padding-left: 30px;
}

.comment-item__body .name {
  font-size: 22px;
  letter-spacing: 1px;
}

.comment-item__body .date {
  font-weight: 600;
  color: #999;
}

.comment-item__body a {
  color: #F1CF69;
  font-weight: 500;
}

.comment-item__body p {
  padding-top: 8px;
  color: #999;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.9;
}

.do-comment {
  padding-bottom: 60px;
}

.do-comment .title {
  padding-bottom: 30px;
}

.do-comment .short-data {
  padding: 10px;
  margin-bottom: 20px;
}

.do-comment .comment {
  height: 200px;
  padding-bottom: 10px;
}

.do-comment .short-data,
.do-comment .comment {
  padding: 10px;
  outline: 3px solid transparent;
  border: 1px solid #999;
  width: 100%;
  border-radius: 7px;
  resize: none;
  margin-bottom: 10px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.15);
}

.do-comment .short-data:focus,
.do-comment .comment:focus {
  outline: 3px solid rgba(0, 195, 255, 0.326);
  border: 1px solid rgba(0, 195, 255, 0.726);
}

.do-comment .submit {
  display: block;
  margin-left: auto;
  background-color: #F1CF69;
  padding: 10px 30px;
  color: #fff;
  border: none;
  transition: all 0.3s;
}

.do-comment .submit:hover {
  background-color: #343A40;
}

div.search {
  border: none;
  margin-bottom: 30px;
  padding: 0;
}

div.search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #999;
  outline: 3px solid transparent;
  margin-bottom: 20px;
}

div.search input:focus {
  outline: 3px solid rgba(0, 195, 255, 0.326);
  border: 1px solid rgba(0, 195, 255, 0.726);
}

div.search button {
  width: 100%;
  background: none;
  padding: 10px;
  color: #28A745;
  border: 1px solid #28A745;
  outline: none;
  transition: all 0.3 4s;
}

div.search button:hover {
  background-color: #28A745;
  color: #fff;
}

.widget {
  margin-top: 30px;
  padding: 15px 10px 15px 10px;
  border: 1px solid #999;
}

.widget .title {
  font-size: 20px;
  padding-bottom: 30px;
}

.categories ul {
  list-style: none;
  padding: 0 0 20px 0;
  display: inline-block;
}

.categories ul li {
  padding-left: 22px;
  position: relative;
  font-size: 14px;
  margin: 15px;
}

.categories ul li::before {
  content: "";
  background-image: url(../img/check-solid-green.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  width: 15px;
  height: 100%;
}

.posts ul {
  display: flex;
  flex-direction: column;
}

.posts ul li {
  display: flex;
  flex-direction: row;
}

.posts ul li img {
  width: 30%;
}

.tags {
  padding-bottom: 40px;
}

.tags ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 15px 15px;
}

.tags a {
  padding: 10px;
  border: 1px solid #999;
  transition: all 0.4s;
}

.tags a:hover {
  background-color: #F1CF69;
  color: #fff;
}

aside {
  padding-bottom: 40px;
}

@media (max-width: 1400px) {
  .arrows {
    margin-right: 32vw;
  }
}

@media (min-width: 992px) {
  .menu {
    display: flex;
    height: 70px;
  }

  .slider .slick-arrow {
    top: 49%;
  }

  .slider .slick-dots {
    bottom: -6vw;
  }
}

@media (max-width: 992px) {
  .navigation {
    min-height: 100%;
    padding-left: 0;
  }

  .navigation>div {
    width: 100vw;
    align-items: flex-start;
  }

  .navigation .brand {
    position: relative;
  }

  .navigation .brand__title {
    position: absolute;
    left: 0;
    top: 18px;
  }

  .navigation .burger__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px 17px;
  }

  .navigation__menu {
    height: auto;
  }

  .navigation .menu.responsive {
    text-align: center;
    transform: translateY(-1000px);
    margin: 0 auto;
    width: 100%;
    transition: all 0.7s;
    height: 10px;
  }

  .navigation .menu.responsive>li:last-child {
    text-align: center;
    margin: 0 auto;
  }

  .navigation .menu.responsive>li:not(li:last-child):first-child {
    padding-left: 0px;
  }

  .navigation .menu.responsive>li:not(:last-child):nth-child(5) {
    padding-right: 0px;
  }

  .navigation .menu.responsive>li:last-child a {
    padding: 15px;
    width: 200px;
    justify-content: center;
    display: block;
    margin: 0 auto;
  }

  .navigation .menu.responsive>li {
    padding: 12px 0px;
    width: 100%;
  }

  .navigation .menu.responsive .sub-menu a {
    color: #343A40;
  }

  .navigation .menu.responsive .menu-item-has-children:hover .sub-menu {
    display: none;
  }

  .navigation .menu.responsive .menu-item-has-children>a::after {
    display: none;
  }

  .navigation .menu.responsive .sub-menu {
    position: relative;
    transform: translateY(0%);
    display: none;
  }

  .navigation .menu.responsive .contact-email {
    padding-top: 20px;
  }

  .header-slider {
    height: 90vh;
  }

  .header-slider .item__content {
    width: auto;
    margin: auto 0 auto auto;
    padding: 40px 0 100px;
    color: #fff;
  }

  .header-slider .slick-arrow::after {
    background-size: 40px 22px;
  }

  .blog__after {
    transform: translate(94%, -20%) rotate(56deg);
  }

  .blog .page__img {
    height: 360px;
    width: auto;
  }

  .slider__img {
    padding: 0 10px;
  }

  .arrows {
    margin-right: 27vw;
    margin-top: -70px;
  }

  .test__grid {
    grid-template-columns: 1fr 1fr;
  }

  .test__img:first-child {
    grid-column: 1/1;
  }

  .test__content.header.grid-item {
    grid-column: auto;
  }

  .works .wrapper {
    flex-direction: column;
  }

  .footer .navigation {
    height: 60px;
  }

  .short-about .info div {
    width: 100%;
  }

  .portfolio .portfolio-table {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .navigation .burger {
    width: 17%;
    margin-right: 40px;
  }

  .header-slider {
    height: auto;
    max-height: 400px;
  }

  .header-slider .item__content {
    padding: 60px 20px 60px 40px;
    width: 55vw;
    margin: 0 0 0 auto;
    height: auto;
    max-height: 400px;
  }

  .header-slider .item__title {
    font-size: 1.2em;
    letter-spacing: 7px;
    padding-bottom: 10px;
  }

  .header-slider .item__brand {
    margin-left: 40px;
    font-size: 2em;
    padding-bottom: 0;
  }

  .header-slider .item__brand span {
    padding-bottom: 10px;
    border-bottom: 2px solid #999;
    display: inline-block;
    max-width: 250px;
  }

  .header-slider .item__description {
    padding-left: 20px;
    font-size: 1.6em;
    padding-bottom: 10px;
  }

  .header-slider .item__description::after {
    bottom: 10px;
  }

  .header-slider .item__share {
    padding-left: 0px;
    margin-left: auto;
    padding-top: 30px;
    font-size: 14px;
  }

  .header-slider .item__share span {
    font-size: 14px;
  }

  .header-slider .item__share-list {
    display: flex;
  }

  .header-slider .slick-dots li.slick-active button::after {
    width: 15px;
    height: 15px;
    background-size: 15px;
  }

  .header-slider .slick-dots li button::after {
    width: 15px;
    height: 15px;
    background-size: 15px;
  }

  .header-slider__item {
    min-height: 64vh;
  }

  .slider .slick-arrow {
    top: 50%;
  }

  .blog__after {
    transform: translate(94%, -40%) rotate(56deg);
  }

  .blog .page__text {
    font-size: 21px;
  }

  .slider__item img {
    width: 90vw;
  }

  .arrows {
    margin-right: 20vw;
  }

  .multi-item__title {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .container {
    font-size: 13px;
    padding: 0 10px;
  }

  .info-box__subtitle {
    font-size: 30px;
  }

  .navigation .burger__menu {
    width: 13%;
    padding: 10px;
  }

  .header-slider {
    height: auto;
  }

  .header-slider .item__content {
    padding: 110px 20px 60px 40px;
    width: max(60vw, 320px);
    height: 100%;
  }

  .header-slider .item__title {
    font-size: 1.1em;
    letter-spacing: 7px;
    padding-bottom: 10px;
  }

  .header-slider .item__brand {
    margin-left: 40px;
    font-size: 1.3em;
    padding-bottom: 0px;
  }

  .header-slider .item__brand span {
    padding-bottom: 10px;
    border-bottom: 2px solid #999;
    display: inline-block;
    max-width: 250px;
  }

  .header-slider .item__description {
    padding-left: 20px;
    font-size: 1.2em;
    padding-bottom: 10px;
  }

  .header-slider .item__description::after {
    bottom: 10px;
  }

  .header-slider .item__share {
    padding-left: 0px;
    margin-left: auto;
    padding-top: 30px;
  }

  .header-slider .item__share-list {
    display: flex;
  }

  .multi-item__img {
    width: 90%;
  }

  .slider .slick-arrow {
    display: none !important;
  }

  .blog__after {
    display: none;
  }

  .blog .slider-blog__item {
    flex-direction: column;
  }

  .blog .page__img {
    padding: 0 30px;
    width: 80vw;
    height: 280px;
    object-fit: cover;
    padding: 0 30px;
    margin: 0 auto;
  }

  .blog .page__content {
    width: 100%;
    margin-left: 0;
    box-shadow: 3px -3px 14px 0px #00000075;
  }

  .blog .page__text {
    font-size: 18px;
    flex: 1 0 auto;
    padding-bottom: 13px;
    font-family: serif;
  }

  .blog .slider-blog__item {
    padding: 10px;
  }

  .arrows {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
  }

  aside {
    width: 80%;
    margin: 0 auto;
  }

  .test__grid {
    grid-template-columns: 1fr;
  }

  .grid-item::before {
    border-left: 15px solid transparent;
    border-bottom: 15px solid #E9ECEF;
    border-right: 15px solid transparent;
    top: -30px;
    transform: translateX(-50%);
    left: 50%;
  }

  .test__content.header.grid-item::before {
    border-left: 15px solid transparent;
    border-bottom: 15px solid #5eca9f;
    border-right: 15px solid transparent;
  }

  .footer a {
    font-size: 14px;
  }

  .footer a ul {
    padding: 0 15px;
  }

  .portfolio .portfolio-table {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px) {
  .blog__share {
    display: none;
  }
}

